.navButton{
    background-color: transparent;
    width:20vw;
    max-width: 80px;
    border: none;
    border-bottom:2px solid white;
    height:25px;
    color: white;
    font-size:4vw;
    
    
}

.nav{
  background-color: transparent;
  
  width:90vw;
  height:7vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  
 
}
@media screen and (min-width:400px){
  .navButton{
    
    
    font-size:15px;
    
}
}