form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    justify-content: space-evenly;
    align-items: stretch;
    height: 50vh;
    max-height: 400px;
    background-color: white;
    border-top-right-radius: 50px;
    margin: 10px;
  }
  .loginSection {
    display: flex;
    justify-content: flex-end;
    background-image: url("https://images.pexels.com/photos/16379061/pexels-photo-16379061/free-photo-of-m-ong-thanh-luxury-nha-trang-hotel.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
    align-items: center;
    
  }
  
  .heading {
    font-size: 8vw;
    color: Black;
    align-self: center;
  }
  
  .loginButton {
    background-color: blue;
    color: white;
    width:40vw;
    max-width: 150px;
    border: 0px;
    border-radius: 5px;
    height: 30px;
    align-self: center;
  }
  .labelSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    font-size: 6vw;
  }
  label {
    font-weight: bold;
    font-style: "Roboto";
    padding-bottom: 10px;
    font-size: 6vw;
  }
  
  input {
    width: 40vw;
    max-width: 200px;
  }

  .error{
    color:red;
    font-family: "Roboto";
    padding:20px;
  }

  @media screen and (min-width:400px){
    
      
      
      .heading {
        font-size: 30px;
        color: Black;
        align-self: center;
      }
      
      
      .labelSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
        font-size: 15px;
      }
      label {
        font-weight: bold;
        font-style: "Roboto";
        padding-bottom: 10px;
        font-size: 15px;
      }
      
      
    
  }